#root{
  margin-left: 35%;
  margin-top: 3%;
  display: grid;
  width: 20%;
  height: 30%;
  h1{
    font-size: 285%;
    font-style: revert;
    text-align: center;
  }
}
body{
   background: darkslategrey;
}